@import "tailwindcss";


@theme {
  --background: #000000;
  --foreground: #ffffff;
  --secondary: #666666;
  --color-accent: #0fa4e6;
  --input-bg: rgba(0, 0, 0, 0.8);
}

* {
  scroll-behavior: smooth;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
