@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap&subset=cyrillic');
@import "tailwindcss";


@theme {
  --background: #000000;
  --foreground: #ffffff;
  --secondary: #666666;
  --color-accent: #0fa4e6;
  --input-bg: rgba(0, 0, 0, 0.8);
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

